In [1]:
# Câu 01
# Data: Iris data
# Thư viện: 
# - pandas: Đọc file data, xử lý dữ liệu
# - Numpy: xử lý mảng
# - skleran tiền xử lý dư liệu
# Mô tả
# Link tham khảo: https://vimentor.com/vi/lesson/tien-xu-ly-du-lieu-trong-linh-vuc-hoc-may-phan-3

In [2]:
# Thư viện
import pandas as pd
import numpy as np
from sklearn import preprocessing as pp
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv('iris.data')
print("Dữ liệu: \n",df)

print("Thông tin dư liêu: \n")
df.info()

Dữ liệu:
      5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]
Thông tin dư liêu:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   5.1          149 non-null    float64
 1   3.5          149 non-null    float64
 2   1.4          149 non-null    float64
 3   0.2          149 non-null    float64
 4   Iris-setosa  149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.3+ KB

In [5]:
print("Trung tâm hóa dư liệu/ Centering data")
tmpCenter = df.copy()

tmpCenter.iloc[:, 0:4] = tmpCenter.iloc[:,0:4] - np.mean(tmpCenter.iloc[:,0:4], axis=0)

print("Kết quả sau chuẩn hóa: ")
tmpCenter

Trung tâm hóa dư liệu/ Centering data
Kết quả sau chuẩn hóa:

          5.1       3.5       1.4       0.2     Iris-setosa
0   -0.948322 -0.051007 -2.374497 -1.005369     Iris-setosa
1   -1.148322  0.148993 -2.474497 -1.005369     Iris-setosa
2   -1.248322  0.048993 -2.274497 -1.005369     Iris-setosa
3   -0.848322  0.548993 -2.374497 -1.005369     Iris-setosa
4   -0.448322  0.848993 -2.074497 -0.805369     Iris-setosa
..        ...       ...       ...       ...             ...
144  0.851678 -0.051007  1.425503  1.094631  Iris-virginica
145  0.451678 -0.551007  1.225503  0.694631  Iris-virginica
146  0.651678 -0.051007  1.425503  0.794631  Iris-virginica
147  0.351678  0.348993  1.625503  1.094631  Iris-virginica
148  0.051678 -0.051007  1.325503  0.594631  Iris-virginica

[149 rows x 5 columns]

In [56]:
print("Chuẩn hóa dữ liệu co giãn/ min max scaler")
mms = pp.MinMaxScaler()

tmpMinMax = df.copy()

tmpMinMax.iloc[:,0:4] = mms.fit_transform(tmpMinMax.iloc[:,0:4])

print("Kết quả sau khi chuẩn hóa")
tmpMinMax

Chuẩn hóa dữ liệu co giãn/ min max scaler
Kết quả sau khi chuẩn hóa

          5.1       3.5       1.4       0.2     Iris-setosa
0    0.166667  0.416667  0.067797  0.041667     Iris-setosa
1    0.111111  0.500000  0.050847  0.041667     Iris-setosa
2    0.083333  0.458333  0.084746  0.041667     Iris-setosa
3    0.194444  0.666667  0.067797  0.041667     Iris-setosa
4    0.305556  0.791667  0.118644  0.125000     Iris-setosa
..        ...       ...       ...       ...             ...
144  0.666667  0.416667  0.711864  0.916667  Iris-virginica
145  0.555556  0.208333  0.677966  0.750000  Iris-virginica
146  0.611111  0.416667  0.711864  0.791667  Iris-virginica
147  0.527778  0.583333  0.745763  0.916667  Iris-virginica
148  0.444444  0.416667  0.694915  0.708333  Iris-virginica

[149 rows x 5 columns]

In [6]:
print("Chuẩn hóa dữ liệu/ co giãn trung bình")
tmpMean = df.copy()

mmin = tmpMean.iloc[:,0:4].min(axis=0)

mmax = tmpMean.iloc[:,0:4].max(axis=0)

maverage = tmpMean.iloc[:,0:4].mean(axis=0)

tmpMean.iloc[:,0:4] = (tmpMean.iloc[:,0:4] - maverage)

tmpMean.iloc[:,0:4] = np.divide(tmpMean.iloc[:,0:4], np.array(mmax - mmin))

print(tmpMean)

Chuẩn hóa dữ liệu/ co giãn trung bình
          5.1       3.5       1.4       0.2     Iris-setosa
0   -0.263423 -0.021253 -0.402457 -0.418904     Iris-setosa
1   -0.318978  0.062081 -0.419406 -0.418904     Iris-setosa
2   -0.346756  0.020414 -0.385508 -0.418904     Iris-setosa
3   -0.235645  0.228747 -0.402457 -0.418904     Iris-setosa
4   -0.124534  0.353747 -0.351610 -0.335570     Iris-setosa
..        ...       ...       ...       ...             ...
144  0.236577 -0.021253  0.241611  0.456096  Iris-virginica
145  0.125466 -0.229586  0.207712  0.289430  Iris-virginica
146  0.181022 -0.021253  0.241611  0.331096  Iris-virginica
147  0.097688  0.145414  0.275509  0.456096  Iris-virginica
148  0.014355 -0.021253  0.224662  0.247763  Iris-virginica

[149 rows x 5 columns]

In [58]:
print('Chuẩn hóa dư liệu theo chính quy hóa')

tmpStandard = df.copy()

std = pp.StandardScaler()

tmpStandard.iloc[:, 0:4] = std.fit_transform(tmpStandard.iloc[:, 0:4] )

print(tmpStandard)

Chuẩn hóa dư liệu
          5.1       3.5       1.4       0.2     Iris-setosa
0   -1.148356 -0.118060 -1.353964 -1.325063     Iris-setosa
1   -1.390542  0.344859 -1.410986 -1.325063     Iris-setosa
2   -1.511636  0.113399 -1.296943 -1.325063     Iris-setosa
3   -1.027262  1.270695 -1.353964 -1.325063     Iris-setosa
4   -0.542889  1.965072 -1.182901 -1.061466     Iris-setosa
..        ...       ...       ...       ...             ...
144  1.031326 -0.118060  0.812838  1.442709  Iris-virginica
145  0.546952 -1.275355  0.698796  0.915514  Iris-virginica
146  0.789139 -0.118060  0.812838  1.047313  Iris-virginica
147  0.425859  0.807777  0.926880  1.442709  Iris-virginica
148  0.062578 -0.118060  0.755817  0.783716  Iris-virginica

[149 rows x 5 columns]

In [8]:
LE = LabelEncoder()
tmpEncode = df.copy()

tmpEncode.iloc[:,4] = LE.fit_transform(tmpEncode.iloc[:,4])

print('Chuẩn hóa dư liệu dạng chư quy về dạng số')
tmpEncode

Chuẩn hóa dư liệu dạng chư quy về dạng số

     5.1  3.5  1.4  0.2  Iris-setosa
0    4.9  3.0  1.4  0.2            0
1    4.7  3.2  1.3  0.2            0
2    4.6  3.1  1.5  0.2            0
3    5.0  3.6  1.4  0.2            0
4    5.4  3.9  1.7  0.4            0
..   ...  ...  ...  ...          ...
144  6.7  3.0  5.2  2.3            2
145  6.3  2.5  5.0  1.9            2
146  6.5  3.0  5.2  2.0            2
147  6.2  3.4  5.4  2.3            2
148  5.9  3.0  5.1  1.8            2

[149 rows x 5 columns]